{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Setting New password{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Please enter a new password.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            {{ form|crispy }}
            <input
                type="submit"
                value="Change my password"
                class="btn btn-primary col-xs-3 col-xs-push-4" />
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
{% endblock %}