{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Change Password{% endblock %}

{% block content %}
<p>Please fill out the form to change your password.</p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    {{ form|crispy }}
    <input
        type="submit"
        value="Reset password"
        class="btn btn-primary col-xs-3 col-xs-push-4"/>
</form>
{% endblock %}