{% extends 'base.html' %}

{% block content %}
<strong>company</strong>: {{ object.company }}
<strong>first_name</strong>: {{ object.first_name }}
<strong>last_name</strong>: {{ object.last_name }}
<strong>last_name</strong>: {{ object.last_name }}
<strong>address1</strong>: {{ object.address1 }}
<strong>address2</strong>: {{ object.address2 }}
<strong>city</strong>: {{ object.city }}
<strong>state</strong>: {{ object.state }}
<strong>zipcode</strong>: {{ object.zipcode }}
<strong>country</strong>: {{ object.country }}
<strong>phone</strong>: {{ object.phone }}
<strong>email</strong>: {{ object.email }}
{% endblock content %}
