{% extends 'base.html' %}

{% block content %}
  {% if request.user.is_authenticated %}
    <div class="panel panel-default">
      <div class="panel-body">
        <a class="btn btn-success" href="{% url 'category-add' %}"><i class="fa fa-plus"></i> Add a Category</a>
      </div>
    </div>
  {% endif %}
  <h1>Categories</h1>
  {% for cat in object_list %}
    <div class="panel panel-default">
      <div class="panel-body">
        <a href="{% url 'suggestion-list' %}?cat={{ cat.pk }}">{{ cat.name }}</a>
      </div>
    </div>
  {% endfor %}
{% endblock content %}
