{% extends 'base.html' %}

{% block content %}
  <form action="{% url 'event_delete' object.pk %}" method="post">
    <h1>Deleting {{ object }}</h1>
      {% csrf_token %}
      <p>Are you sure you want to delete "{{ object }}"?</p>
      <a href="{% url 'event_detail' object.pk %}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> No, Go Back</a>
      <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Yes, Delete this Event</button>
  </form>
{% endblock content %}