{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Home{% endblock title %}

{% block extra_scripts %}
<style>
    .entry {
        position: relative;
        height: 380px;
    }
    .entry img {
        position: absolute;
        top: 0;
        left: 0px;
    }
    .entry .link {
        color: white;
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
        line-height: 380px;
        font-weight: bolder;
        font-size: 2.5em;
        text-shadow: 1px 1px 1px black;
        background: rgba(0, 0, 0, 0.4);
    }
    .entry .link:hover {
        text-decoration: none;
        background: rgba(0, 0, 0, 0.6);
    }
</style>
<script>
  $('.link').on('click', function () {
    $(this).css('width')
  });
</script>
{% endblock extra_scripts %}

{% block content %}
    <h1>About Me</h1>
    <p>I'm pretty cool.</p>
    <h1>My Projects</h1>
    {% for object in object_list %}
        <div class="col-sm-4 col-xs-12 entry">
                {% thumbnail object.photo "380x380" crop="center" as img %}
                    <img src="{{ MEDIA_URL }}{{ img }}">
                {% endthumbnail %}
                <div class="link" href="{% url 'entry-detail' object.pk %}">
                    {{ object.name }}
                    <div class="hidden">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
        </div>
    {% endfor %}
{% endblock content %}
