{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block unauthenticated_content %}
  <div class="row">
    <div class="col-xs-10 col-xs-push-2">
      <h2>Log in to Kaizen</h2>
    </div>
  </div>
  <div class="clearfix"></div>
  <form action="{% url 'accounts:auth_login' %}" method="POST" class="form-horizontal">
    {% if form.errors %}
      {{ form.errors }}
    {% endif %}
    {% csrf_token %}
    <div class="form-group">
      <label for="id_username" class="control-label col-xs-2">Username: </label>
      <div class="col-xs-10">
        <input type="text" id="id_username" name="username" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label for="id_password" class="control-label col-xs-2">Password:</label>
      <div class="col-xs-10">
        <input type="password" id="id_password" name="password" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-xs-10">
        <input type="checkbox" id="id_remember_me" name="remember_me" />
        <label for="id_remember_me">Remember Me?</label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Sign in <i class="fa fa-sign-in"></i></button>
      </div>
    </div>
  </form>
{% endblock unauthenticated_content %}
