{% extends 'base.html' %}
{% load thumbnail %}

{% block extra_styles %}
<style>
    .relative {
        position: relative;
    }
    .description {
        padding: 30px;
        font-size: 1.5em;
    }
    #object-title {
        position: absolute;
        left: 0;
        bottom: 0;
        padding-top: 1em;
        font-size: 3em;
        text-align: center;
        color: white;
        width: 100%;
        height: 100%;
        font-weight: bolder;
        background: rgba(0, 0, 0, 0.4);
    }
    #object-title:hover {
        background: rgba(0, 0, 0, 0.6);
    }
    @media only screen and (max-width: 1199px) {
        #object-title {
            padding-top: 0.6em;
        }
    }
    @media only screen and (max-width: 991px) {
        #object-title {
            padding-top: 0.3em;
        }
    }
    @media only screen and (max-width: 768px) {
        #object-title {
            position: relative;
            color: black;
            background: none;
            width: auto;
            height: auto;
            font-size: 2em;
        }
        .relative {
            text-align: center;
        }
    }
</style>
{% endblock extra_styles %}

{% block content %}
    <div class="relative">
        {% thumbnail object.photo "1140x150" crop="center" as img %}
            <img class="img img-responsive" src="{{ MEDIA_URL }}{{ img }}">
        {% endthumbnail %}
        {% if object.link %}<a href="{{ object.link }}"><span id="object-title">Visit {{ object.name }}</span></a>
        {% else %}<a href=""><span id="object-title">{{ object.name}}</span></a>{% endif %}
    </div>
    <div class="description">
        <p>
            {{ object.description }}
        </p>
    </div>
{% endblock content %}
